<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zig community mirror</title>
    </head>
    <body>
        <h1>Zig community mirror</h1>
        <p>See <a href="https://ziglang.org/download/community-mirrors/">ziglang.org/download/community-mirrors/</a> for more information.</p>
        <p>The mirror is powered by a custom Go implementation.</p>
        <p>I plan to release the implementation and a guide on how to host a Zig mirror in the future.</p>
        <p></p>
        <p>I have tested several files and everything appears to be working correctly.</p>
        <p>If you encounter any issues, please contact me at savelii.pototskii@gmail.com, and I will address them as quickly as possible.</p>
    </body>
</html>